:root {
  --color-black: #000;
  --color-white: #fff;
  --color-mine-shaft: #2d2d2d;
  --color-matisse: #1C629E;
  --color-bright-sun: #ffc540;
  --color-tundora: #4e4c4c;
  --color-gallery: #EdEdEd;
  --color-athens-gray: #fafbfc;
  --color-silve: #cdcbcb;
  --color-silver-chalice: #9e9e9e;
  --color-coconut-cream: #fcfcee;
  --color-mercury: #e1e1e1;
  --color-sunset-orange: #f84147;
  --color-golden-tainoi: #ffcf62;
  --color-hawkes-blue: #ebf5fd;
  --color-mandy: #e0595d;
  --color-alto: #d0d0d0;
  --color-pretty-grey: #f0f0f0;
  --color-boulder: #7b7b7b;
  --color-mariner: #247cc8;
  --color-blumine: #205684;
  --font-family-roboto: "Roboto", sans-serif;
  --font-family-gothampro: "GothamPro", sans-serif;
  --font-family-raleway: "RalewayMedium", sans-serif;
  --font-site-heading: 500 36px / 132.5% var(--font-family-raleway);
  --border-radius: 4px; }

.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1; }

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px; }

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none; }

@font-face {
  font-family: "GothamPro";
  src: url("../fonts/../fonts/GothamPro-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal; }

@font-face {
  font-family: "GothamPro";
  src: url("../fonts/../fonts/GothamPro.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/../fonts/RobotoMedium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/../fonts/RobotoRegular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal; }

@font-face {
  font-family: "RalewayMedium";
  src: url("../fonts/../fonts/RalewayMedium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal; }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

body {
  margin: 0;
  position: relative;
  font-family: var(--font-family-roboto);
  background-color: var(--color-athens-gray); }

img {
  max-width: 100%; }

a {
  text-decoration: none; }

.list-reset {
  list-style-type: none;
  padding: 0;
  margin: 0; }

.is-hidden {
  display: none !important; }

.btn-reset {
  border: none;
  font-family: var(--font-family-roboto);
  padding: 0;
  background-color: transparent;
  cursor: pointer; }

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1467px; }

.site-heading {
  font: var(--font-site-heading);
  color: var(--color-mine-shaft); }
  @media (max-width: 1150px) {
    .site-heading {
      font-size: 22px; } }

.site-pag {
  width: 49px;
  height: 49px;
  opacity: 0;
  visibility: hidden;
  border-radius: 100%;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: -1px 4px 13px rgba(0, 0, 0, 0.05);
  transition: background-color .3s ease-in-out, opacity .3s ease-in-out, visibility .3s ease-in-out;
  background-color: var(--color-white); }
  .site-pag:hover {
    filter: drop-shadow(0px 0px 30px rgba(0, 0, 0, 0.1));
    transition: background-color .3s ease-in-out, opacity .3s ease-in-out, visibility .3s ease-in-out;
    background-color: var(--color-golden-tainoi); }
  @media (max-width: 480px) {
    .site-pag {
      display: none; } }

.swiper-button-next {
  transform: rotate(180deg);
  background-image: url("../img/arrow.svg"); }

.swiper-button-prev {
  background-image: url("../img/arrow.svg"); }

.site-slider:hover .swiper-button-next {
  opacity: 1;
  visibility: visible;
  transition: background-color .3s ease-in-out, opacity .3s ease-in-out, visibility .3s ease-in-out; }

.site-slider:hover .swiper-button-prev {
  transition: background-color .3s ease-in-out, opacity .3s ease-in-out, visibility .3s ease-in-out;
  opacity: 1;
  visibility: visible; }

.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
  display: none; }

/*# sourceMappingURL=global.css.map */
